.pdf-container {
    max-width: 650px;
    width: 100%;
    overflow: hidden;
    border: hidden;
    box-shadow: none !important;
  }
  
  .rpv-core__viewer {
    overflow: hidden !important;
    width: 100% !important;
    border: none !important;
    box-shadow: none !important;
  }
  
  .rpv-core__inner-pages {
    overflow: hidden !important;
    border: none !important;
    box-shadow: none !important;
  }


      
  .rpv-core__canvas-layer{
    box-shadow: none;
  }

  .rpv-core__text-layer{

    
    overflow: hidden !important;
    border: none !important;
    box-shadow: none !important;
  }

  .rpv-core__page-layer {
    overflow: hidden !important;
    border: none !important;
    box-shadow: none !important;
    visibility: none;
  }

  /* Remove any default borders from the PDF viewer */
  .rpv-core__page {
    visibility: hidden;
    border: none !important;
    box-shadow: none !important;
  }
.rpv-core__inner-page-container{
    box-shadow: none !important;
    
}
  /* Remove borders from the toolbar if present */
  .rpv-core__toolbar {
visibility: hidden;
  }



.pdf-container .rpv-core__page,
.pdf-container .rpv-core__page-layer,
.pdf-container .rpv-core__viewer {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  
}

.pdf-container,
.pdf-container .rpv-core__viewer,
.pdf-container .rpv-core__page {
  background: transparent !important;
}